<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://asdwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>asdwebapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>asdwebapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$asdwebapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NewtonWebShopContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:snjxt9thcx.database.windows.net,1433;Initial Catalog=asd;User ID=asdasd@snjxt9thcx;Password=jitojGftrjoi67joiuj56y" Name="Data Source=tcp:snjxt9thcx.database.windows.net,1433;Initial Catalog=asd;User Id=asdasd@snjxt9thcx;Password=jitojGftrjoi67joiuj56y" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="NewtonWebShop.Models.NewtonWebShopContext, NewtonWebShop" MigrationConfiguration="NewtonWebShop.Migrations.Configuration, NewtonWebShop" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NewtonWebShopContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:snjxt9thcx.database.windows.net,1433;Initial Catalog=asd;User Id=asdasd@snjxt9thcx;Password=jitojGftrjoi67joiuj56y</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>